
.container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  direction: rtl;
  justify-content: center;
  column-gap: 20%;
  height: 50px;
  padding-top: 20px;

}

.mat-card {
  height: 300px;
  width: 450px;
  text-align: center;
}

mat-card-title {
  color: #000;
  text-align: center;
  padding: 10px;
}

mat-card-content {
  color: #000;
  text-align: left;
  padding: 30px;
  font-size: 17px;
}
